*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccc;
  margin: 0;
  box-sizing: border-box;
}

.headerContainer {
  width: 100vw;
  height: 60px;
  background-color: #ebeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  border: 1px solid black;
}


.navbar {
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  background-color: #ebeaea;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  border: 1px solid black;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articlesContainer {
  border: 1px solid black;
  width: 800px;
  padding: 10px;
  padding-top: 70px;
}

.articlesList {
  text-align: center;
  align-items: center;
  list-style-type: none;
}

.articleImg {
  width: 300px;
  border-radius: 5px;
}

.articleCommentCount, .votes {
  display: inline-block;
  margin: 10px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #112d4d transparent #112d4d transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.articlePageContainer {
  padding-top: 70px;
  text-align: center;
}

.articlePageContainer img, h2, h3, p {
  padding: 10px;
}

.articlePageContainer img {
  width: 400px;
}

.errorMessage{
  padding-top: 60px;
}

.commentList {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%vw;
  overflow: auto;
}

.commentList p {
  padding: 1px;
}

.commentItem {
  padding: 10px;
}

.commentsCount, .votesCount {
  display: inline-flex;
}

.postComment {
  display: flex;
  overflow: auto;
  padding: 10px;
}

.postComment input {
  margin: 5px;
}

.searchBar {
  display: flex;
  padding: 10px;
}

.searchBar label {
  margin-right: 3px;
}

.sortBySection, .orderSection, .topicSection {
  margin-right: 9px;
}